<table>
  <caption>
    <input [(ngModel)]="username" type="text" placeholder="Write Github Username">
    <button (click)="getRepos(username)">Get Repos</button>
  </caption>
  <ng-container *ngIf="repositoriesList.length; else noData">
    <thead>
    <tr>
      <th>name</th>
      <th>owner login</th>
      <th>branches</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let repository of repositoriesList">
      <tr>
        <td data-label="name">{{repository.name}}</td>
        <td data-label="owner login">{{repository.owner.login}}</td>
        <td data-label="branches">
          <span (click)="getBranchesList(repository)">List of branches</span>
        </td>
      </tr>
      <ng-container *ngIf="repository?.branches">
        <tr *ngFor="let branch of repository.branches" class="branches-details">
          <td data-label="branch name">{{branch.name}}</td>
          <td data-label="last commit" colspan="2">{{branch.commit.sha}}</td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </ng-container>
</table>

<ng-template #noData>
  <div>No repos to show</div>
</ng-template>

<app-modal #modal></app-modal>
